/**{
  background-image: url("images.png");
  background-size:cover;
  /*background-repeat: no-repeat;*/
}*/
body{
  background-color: rgb(105, 240, 240);
}
h{
  text-decoration: underline;
  color: blue;
}

.sidebar{
  float: left;
  position: fixed;
}
.sidebar a:hover{
  color: red;
  border-box: 5px;
}
a:hover{
  color;yellow;
}

.float{
  float: right;
}
