/**{
  background-image: url("images.png");
  background-size:cover;
  /*background-repeat: no-repeat;*/
}*/
body{
  background-color: rgb(105, 240, 240);
}
h1{
  text-decoration: underline;
  color: yellow;
}
h2{
  text-decoration: underline;
  color:white;
}

.sidebar{
  float: left;
  /*position: fixed;*/
  background-color: lime;
}
.sidebar a:hover{
  color: red;
  border-box: 5px;
}
a:hover{
  color;yellow;
}

.float{
  float: right;
  padding-left: 5%;
  position: relative;
  margin-right: 30%;
  background-color:grey;
  text-align: center;
}
li {
  list-style-type: none;
}
