/**{
  background-image: url("images.png");
  background-size:cover;
  /*background-repeat: no-repeat;*/
/*}*/
/*body{
  /*background-color: rgb(105, 240, 240);*/
  /*margin:15%;*/
/*}*/

/*text-decoration: underline;*/
/*h1{*/
  /*color: yellow;*/
/*}*/
/*h2{
  text-decoration: underline;
  color:white;
}*/

/*.sidebar{
  float: left;
  /*position: relative;*/
  /*background-color: lime;
  font-size:xx-large;
}*/
/*.sidebar a:hover{
  color: red;
  border-box: 5px;
  font-size:xx-large;
  padding-right:0px;
}
a:hover{
  color;yellow;
}*/
/*
nav>ul>li{
  float: right;
  display:inline-block;
  padding: 25px;
  position:relative;
  left:70%
  font-size: xx-large
}
nav>ul>li>a:hover{
  color:red;
}

.float{
  float: right;
  padding-left: 5%;
  position: relative;
  margin-right: 0;
  background-color:grey;
  text-align: center;
  font-size: x-large;
}
li {
  list-style-type: none;
}
@media only screen and (max-width: 480px){
  .float{
    background-color: white;
    text-align: center;
  }*/
